<div class="mx-auto prose prose-strong:text-font prose-figcaption:text-center prose-headings:my-5 prose-headings:text-heading prose-li:text-font prose-li:my-1 prose-ul:my-1 prose-a:text-primary prose-a:no-underline prose-a:font-bold prose-p:leading-[1.5rem]">
    {{content}}
</div>