<a href="https://github.com/lamemakes" rel="noreferrer noopener" target="_blank" class="social-icon">{{> "icons/socials/github" title="Go to the lamemakes GitHub" classname="size-8 inline"}}</a>
<a href="https://freak.social/@lamemakes" rel="noreferrer noopener" target="_blank" class="social-icon">{{> "icons/socials/mastodon" title="Follow on Mastodon" classname="size-8 inline hover:opacity-80"}}</a>
<a href="mailto:wes@lamemakes.com" rel="noreferrer noopener" target="_blank" class="social-icon">{{> "icons/solid-envelope" title="Send me an e-mail" classname="size-8 inline hover:opacity-80"}}</a>
<a href="https://instagram.com/lamemakes" rel="noreferrer noopener" target="_blank" class="social-icon">{{> "icons/socials/instagram" title="Follow on Instagram" classname="size-8 inline hover:opacity-80"}}</a>
<a href="/rss" target="_blank" class="social-icon">{{> "icons/solid-rss" title="Subscribe to the RSS feed" classname="size-8 inline hover:opacity-80"}}</a>