{{!< default}}
{{#page}}
    <article class="rounded-xl px-6 py-4 lg:px-16 lg:py-6 bg-zinc-900/70 {{post_class}}">

        <header>
            <h1 class="mb-2 text-4xl font-extrabold text-center md:text-5xl">{{title}}</h1>
        </header>

        {{> "divider"}}

        {{> "post-content" content=content}}

    </article>
    <div class="flex justify-between px-8 pt-3 mx-auto lg:px-4 max-w-96">
        {{> "socials"}}
    </div>
{{/page}}