/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

@import './vars.css';
@import 'components/global.css';

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global/general */

html {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background: #ffffff;
    color: var(--color-font);
}

.wrapper {
    display: flex;
    width: 100%;
    @apply max-w-6xl;
}

/* Nav */

.nav {
    display: flex;
    color: var(--color-heading);
}

.nav li {
    display: inline-block;
    height: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.show {
    opacity: 1;
}

.nav li :hover,
.nav li :active,
.nav-current {
    color: var(--color-primary);
}

h2 {
    color: var(--color-heading);
}

/* Footer */

footer a {
    font-size: 1rem;
    line-height: 2rem;
}

/* Tags */

.tag {
    background-color: #66c9ff;
    color: var(--color-font-dark);
    border-radius: 9999px;
}

.tag-completed {
    background-color: #6feb96;
}

.tag-ongoing {
    background-color: #ffb566;
}

.tag-researching {
    background-color: #857cff;
}

.tag-scrapped {
    background-color: #ff4d4d;
}
.tag-hardware {
    background-color: #7188fd;
}

.tag-software {
    background-color: #d466ff;
}

.tag-art {
    background-color: #ff668c;
}

.tag-rant {
    background-color: #c66f92;
}
