/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

@import './vars.css';
@import 'components/global.css';
@import 'basiclightbox/dist/basicLightbox.min.css';

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global/general */

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bagel Fat One';
    src: url('../fonts/BagelFatOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Concert One';
    src: url('../fonts/ConcertOne-Regular.ttf') format('truetype');
}

html {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background: #ffffff;
    color: var(--color-font);
    overscroll-behavior-y: none;
}

.main {
    overscroll-behavior-y: contain;
}

h2 {
    color: var(--color-heading);
}

/* Logo */
.logo {
    font-family: 'Rubik';
    font-weight: 500;
    /* font-family: 'Bagel Fat One'; */
}

/* Nav */
.show {
    opacity: 1;
}

.nav-item {
    color: var(--color-heading);
    display: flex
}

.nav-item > a {
    align-self: center;
}

.nav-item:active,
.nav-current {
    color: var(--color-primary);
}

ul.nav-menu {
    transition: max-height 0.15s ease-out;
}

#nav-checkbox:focus-visible ~ #nav-toggle {
    outline: auto;
}

#nav-checkbox:checked ~ ul.nav-menu {
    max-height: 400px;
    transition: max-height 0.15s ease-in;
}

#nav-checkbox:checked ~ ul.nav-menu li {
    visibility: visible;
}

#nav-checkbox:checked ~ #nav-toggle #close-menu {
	display: block;
}

#nav-checkbox:checked ~ #nav-toggle #open-menu {
	display: none;
}

@media (min-width: 1024px) {    /* tailwind's `lg:` */
    .nav-item:hover {
        transform: scale(1.1);
        color: var(--color-primary);
    }
}

/* Footer */

footer a {
    font-size: 1rem;
    line-height: 2rem;
}

/* Tags */

span.tag {
    background-color: #66c9ff;
    color: var(--color-font-dark);
    border-radius: 9999px;
}
span.tag-completed {
    background-color: #6feb96;
}

span.tag-ongoing {
    background-color: #ffb566;
}

span.tag-researching {
    background-color: #857cff;
}

span.tag-scrapped {
    background-color: #ff4d4d;
}
span.tag-hardware {
    background-color: #7188fd;
}

span.tag-software {
    background-color: #d466ff;
}

span.tag-art {
    background-color: #ff668c;
}

span.tag-rant {
    background-color: #c66f92;
}

/* Social Media Icons */

.social-icon {
    /* tailwind's transition-all */
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

@media (min-width: 1024px) {    /* tailwind's `lg:` */
    .social-icon:hover {
        opacity: 0.8;
        transform: scale(1.2);
    }
}

/* Pics view */

#pic-container a[class*=" pics-"]:hover {
    filter: grayscale(80%);
}
